<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.dur.duchess"
    android:versionCode="1"
    android:versionName="0.7"
    tools:ignore="HardcodedDebugMode" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplicationData"
        android:debuggable="true"
        android:icon="@drawable/du_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock" />
        <activity
            android:name=".ui.activity.UserHubActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sherlock" />
        <activity
            android:name=".ui.activity.EventListActivity"
            android:label="Browse Events"
            android:theme="@style/Theme.Sherlock.ForceOverflow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.EventDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.CategoryGridActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.ReviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.EventDetailsTabRootActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.activity.NewPasswordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.activity.DateFrameActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.activity.CollegeEventListActivity"
            android:label="College Events"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SocietyListActivity"
            android:label="Browse Societies"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SocietyEventListActivity"
            android:theme="@style/Theme.Sherlock.ForceOverflow" >
        </activity>
        <activity
            android:name=".ui.activity.SocietyAboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".ui.activity.CalendarActivity"
            android:label="Event Calendar"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.PersonalSocietyListActivity"
            android:label="Subscribed Societies"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.AboutBoxActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.activity.ViewSharedPreferencesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.TimeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.activity.BookmarkedEventListActivity"
            android:label="Bookmarked Events"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
        <activity
            android:name=".ui.activity.NearEventsActivity"/>
        <activity
            android:name=".ui.activity.CalendarEventListActivity"
            android:theme="@style/Theme.Sherlock" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.UserHubActivity" />
        </activity>
    </application>

</manifest>