<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.ac.dur.duchess"
    android:versionCode="1"
    android:versionName="0.7"
    tools:ignore="UsesMinSdkAttributes" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".activity.MainActivity"
            android:label=""
            android:theme="@style/CustomTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="" />
        <activity
            android:name=".activity.UserHubActivity"
            android:label=""
            android:theme="@style/CustomTheme" />
        <activity
            android:name=".activity.EventListActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.EventDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CategoryGridActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ReviewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.EventDetailsTabRootActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.LocationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.PreferenceSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.SettingsTabRootActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name=".activity.AccountSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ProfileSettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.DateFrameActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.CollegeEventListActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name=".activity.SocietyListActivity"
            android:theme="@style/CustomTheme" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.SocietyEventListActivity"
            android:theme="@style/CustomTheme" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.SocietyAboutActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.PersonalSocietyListActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomTheme" >
        </activity>
        <activity
            android:name=".activity.AboutBoxActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>